@font-face {
  font-family: 'Rubik-Light';
  src: url('Rubik-VariableFont_wght.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('Rubik-VariableFont_wght.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Medium';
  src: url('Rubik-VariableFont_wght.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url('Rubik-VariableFont_wght.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Italic-Light';
  src: url('Rubik-Italic-VariableFont_wght.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik-Italic';
  src: url('Rubik-Italic-VariableFont_wght.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik-Italic-Bold';
  src: url('Rubik-Italic-VariableFont_wght.ttf');
  font-weight: 600;
  font-style: italic;
}
