@import '../fonts';

//colors
$blue: #2BAEE0;
$black: #122434;

//size
$textBig: 24px;

* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body, h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

a {
  color: $blue;
  text-decoration: none;
}

h2 {
  font-size: $textBig;
  color: $black;
  line-height: 35px;
}
